<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Crear Datos</title>
</head>
<body>
    <h1>Agregar un nuevo dato</h1>
    
    <!-- Formulario para ingresar nuevos datos -->
    <form method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required><br>

        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" required><br>

        <label for="ciudad">Ciudad:</label>
        <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad" required><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono" id="telefono" placeholder="Teléfono" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email" required><br>

        <button type="submit">Guardar</button>
    </form>

    <br><a href="{{ url_for('index') }}">Volver a la página principal</a>
</body>
</html>
