<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>CRUD de Datos</title>
</head>
<body>
    <h1>Bienvenido al CRUD de Datos</h1>
    
    {% if logged_in %}
    <!-- Si el usuario está logueado -->
    <a href="{{ url_for('create') }}">Agregar un nuevo dato</a><br>
    {% for item in items %}
        <div>
            <p>{{ item['nombre'] }} - {{ item['apellido'] }}</p>
            <a href="{{ url_for('update', id=item['_id']) }}">Actualizar</a>
            <a href="{{ url_for('delete', id=item['_id']) }}">Eliminar</a>
        </div>
    {% endfor %}
    {% else %}
    <!-- Si no está logueado, solo se muestra la lista de datos y el PDF -->
    {% for item in items %}
        <div>
            <p>{{ item['nombre'] }} - {{ item['apellido'] }}</p>
        </div>
    {% endfor %}
    <a href="{{ url_for('generar_pdf') }}">Ver los datos en PDF</a>
    {% endif %}
    
    <br><a href="{{ url_for('logout') }}">Iniciar sesión</a>
</body>
</html>
